@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  /* "auto" or "thin" */
  scrollbar-color: #716f6f #f2f2f2;
}

h1 {
  font-size: 40px;
}
textarea:focus, input:focus{
  outline: none;
}

